body {
    max-width: 1440px;
    min-height: 000px;
    padding: 0.3em;
    margin: auto;
    font-family: "Open Sans", sans-serif;
   
}

header {
    color: #fff;
    background-color: olive;
    font-style: italic;
    font-weight: bold;
    font-size: 1.7em;
    padding: 1.1em;
    text-align: center;
}

header .logo {
    color: #4f5850;
}

header a {
    color: white;
}

.top {
    padding-bottom: 1px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }

/*.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}*/

#home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d4b0cfb;
}

#liste {
    float: left;
}

.adress_git {
    text-align: center;
    font-size: small;
}

.spalte {
    background-color: #2d4b0cfb;
    color: white;
    padding: 0px;
    text-indent: 1.3em;
    text-align: center;
    font-weight: bold;
}

.spalte2 {
    background-color: #2d4b0cfb;
    color: white;
    padding: 2px;
    text-indent: 1.3em;
    text-align: center;
    font-weight: bold;
}

#liste a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#liste a:hover {
    background-color: #643012;
}

@media screen and (max-width: 900px) {
    main {
        max-width: 90%;
    }
}

@media screen and (max-width: 1280px) {
    header img.banner {
        width: 100vw
    }
}