body {
    max-width: 1440px;
    min-height: 000px;
    padding: 0.3em;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

header {
    color: #fff;
    background-color: olive;
    font-style: italic;
    font-weight: bold;
    font-size: 1.7em;
    padding: 1.1em;
    text-align: center;
}

header .logo {
    color: #4f5850;
}

header a {
    color: white;
}

#map {
    height: 400px;
    width: 95%;
    border: 1px solid gray;
    align-items: center;
    margin-left: 3em;
}

#margin {
    margin-left: 2em;
}

#margin2 {
    margin-left: 2.4em;
}

#corona{
    color: brown;
    margin-left: 2em;
    margin-right: 2em;
}

.link,
.link a:link,
.link a:visited {
    color: white;
    font-size: 0.6em;
    float: right;
    padding: 8px;
}

.center {
    float: center;
    ;
}

#ende {
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}

.spalte {
    background-color: olive;
    color: white;
    padding: 0px;
    text-indent: 1.3em;
}

.spalte2 {
    background-color: #2d4b0cfb;
    color: white;
    padding: 2px;
    text-indent: 1.3em;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 15px;
}

.auswahl::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 25%;
}

.content {
    width: 75%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #2d4b0cfb;
    color: #ffffff;
}

.menu li:hover {
    background-color: #643012;
}

.top {
    padding-bottom: 1px;
}

#home {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d4b0cfb;
}

#liste {
    float: left;
}

#liste a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#liste a:hover {
    background-color: #643012;
}

@media screen and (max-width: 900px) {
    main {
        max-width: 90%;
    }
}

@media screen and (max-width: 1280px) {
    header img.banner {
        width: 100vw
    }
}

.checkboxes ul, .checkboxes li {
    margin:0;
    padding:0;
    list-style:none;
}
.checkboxes li {
    display:inline-block;
    width:22%;
}